/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #404040;
    line-height: 1.4;
    font-size: 1.6rem;
    background-color: rgb(244, 245, 247);
}

h1 {
    font-size: 3.32rem;
    font-weight: 600;
    line-height: 1;
}

h2 {
    font-size: 2.76rem;
    font-weight: 400;
    line-height: 1.1;
}

strong {
    font-weight: 600;
}

ul {
  list-style: none;
}

.secao {
  padding: 9.54rem 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

/* a:link, a:visited {

} */

.lista-cabecalho a:hover, 
.lista-cabecalho a:active {
  color: #f60;
}

.botao {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  color: #fff;
  box-shadow: 0 0.21rem 0.8rem regba(0, 0, 0, 0.15);
}

.realce-semibold {
    font-weight: 600;
}

/* Cabeçalho */
.img-cabecalho {
  width: 7.0rem;
}

.lista-cabecalho a {
  color: #112e61;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.lista-cabecalho.contem-filhos::after{
  content: "\2BC6";
}

.cabecalho {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* Temporario */
nav {
  display: none;
}

/* Seção Hero */

.hero-paragrafo {
  font-size: 1.92rem;
  line-height: 1.4;
}

.secao-hero {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-botao {
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
}

.hero-botao:hover {
  background-color: #ff9253;
  background-image: none;
  border-bottom: solid 0.4rem #ff9253;
  border-right: solid 0.4rem #ff9253;
}

.iframe-video {
  aspect-ratio: 16/9;
  width: 42rem;
  border-radius: 2.5rem;
}

/* Seção conteúdo gratuitos */

.caixa-cursos-hashtag {
  position: relative;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
  border-radius: 2.5rem;
  padding: 2rem;
}

.secao-conteudos {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-conteudos{
  width: 44rem;
}

.circulo-logo-curso {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 1.02rem;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
}

.circulo-logo-curso img {
  width: 100%;
}

.caixa-gratuito-h3 {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  padding: 0.42rem 1.6rem;
  color: #fff;
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
  border-radius: 1rem;
  transform: rotate(-3deg) translate(-50%, -50%);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

.gratuito-h2 span {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 2.3rem;
  font-weight: 700;

}

.gratuito-link-lista:link,
.gratuito-link-lista:visited {
  display: inline-block;
  padding: 0.42rem 3.12rem;
  background-color: #eee;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
  font-size: 1.92rem;
  text-decoration: none;
  color: inherit;
}

.gratuito-link-lista:hover,
.gratuito-link-lista:active {
  text-decoration: underline;
}

.gratuito-link-lista img {
  width: 1.8rem;
}

/* Seção diferencias */

.diferenciais-p {
  font-size: 1.92rem;
}

.diferenciais-h3 {
  font-size: 2.3rem;
  color: #005e88;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-size: 2.3rem;
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

/* Seção Blog */
.blog-postadoem {
  font-size: 15px;
}

.blog-postadoem a {
  color: #f7a70c;
  font-weight: 600;
  text-decoration: none;
}

.blog-titulo-post {
  color: #404040;
  font-size: 2.3rem;
  font-weight: 600;
  text-decoration: none;
}

.blog-descricao-post {
  font-size: 1.7rem;
}

/* Seção como ajudar */
.comoajudar-lista,
.comoajudar-paragrafo {
  font-size: 1.92rem;
}

.comoajudar-lista a,
.comoajudar-paragrafo a {
  color: #008ff7;
  font-weight: 600;
}

.comoajudar-paragrafo b {
    font-weight: 600;
}

/* Seção MiniCurso */

/* Rodapé */
.rodape-titulo {
    font-size: 2.2rem;
    font-weight: 600;
}

.rodape-subtitulo {
    font-size: 2.0rem;
    font-weight: 500;
}

.rodape-subtitulo2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.rodape-link {
    color: #1a77a4;
}